@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
    var prevDisabled = !ViewBag.Words.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !ViewBag.Words.HasNextPage ? "disabled" : "";
}

<!DOCTYPE html>

<html>
<head>
    <title>Words</title>
</head>
<body>
<div>
    <table>
        @foreach (var word in ViewBag.Words)
        {
            <tr>
                <td>
                    <a asp-controller="Home"
                       asp-action="GetAnagrams"
                       asp-route-input="@word">@word</a>
                </td>
            </tr>
        }
        
    </table>
    <a asp-action="DisplayWords"
       asp-route-pageNumber="@(ViewBag.Words.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="DisplayWords"
       asp-route-pageNumber="@(ViewBag.Words.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
</body>
</html>

