@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AnagramSolver.WebApp.Models.PaginatedList<string>;

@{
    ViewBag.Title = "Words";
    var prevDisabled = !@Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !@Model.HasNextPage ? "disabled" : "";
}
<form asp-controller="Words" asp-action="DisplayFilteredWords" method="post">
    <div class="form-actions no-color">
        <p>
            Search by word:
            <input type="text" name="searchInputModel"/>
            <button type="submit">Search</button> |
            <a asp-action="DisplayWords">Get full list</a>
        </p>
    </div>
</form>
<div>
    <table class="table">
        @foreach (var word in @Model)
        {
            <tr>
                <td>
                    <a asp-controller="Home"
                       asp-action="GetAnagrams"
                       asp-route-input="@word">@word</a>
                </td>
                <td>
                    <a asp-action="EditWord" asp-route-wordToEdit="@word">Edit</a> |
                    <a asp-action="DeleteWord" asp-route-wordToDelete="@word">Delete</a>
                </td>
            </tr>
        }
        
    </table>
    <a asp-action="DisplayWords"
       asp-route-pageNumber="@(@Model.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="DisplayWords"
       asp-route-pageNumber="@(@Model.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
