@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AnagramSolver.WebApp.Models.PaginatedHashSet<string>
@{
    ViewBag.Title = "Anagrams";
    var prevDisabled = !@Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !@Model.HasNextPage ? "disabled" : "";
}
<h5>Found anagrams:</h5>
<div>
    @foreach (var anagram in @Model)
    {
        @anagram<br/>
    }
    @if (@Model.Count > @Model.PageSize)
    {
        <a asp-action="GetAnagrams"
           asp-route-pageNumber="@(@Model.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="GetAnagrams"
           asp-route-pageNumber="@(@Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    }
    
</div>